@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gt .char {
    transform: translateY(100%);
    transition: transform 0.5s;
    font-weight: 900;

    @apply !hidden;
  }
  .gt{
    
  }
  .char2 {
    transform: translateY(100%);
    transition: transform 0.5s;
    color:#5546FF;
    @apply font-black
    /* font-weight: 900; */

  }
  .char3 {
    color:white;
    /* font-weight: 900; */
  }

  .gt .char,
  .gt .char2,
  .gt .char3 {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    /* line-height: 2rem; */
    font-weight: 900 !important;

  }

  .gt .line:first-child :first-child {
    @apply !inline-block ;
  }

  .gt .word:last-child :first-child {
    transform: translateY(-100%);
  }
}
